body {
  margin: 0;
  animation: rotateAnimation 20s ease infinite;
  background: linear-gradient(45deg, #202020, #303030);
  background-size: 200% 200%;
}

@keyframes rotateAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}