


@media (min-width: 1601px) {
    .contactContainerDiv{
        display: grid;
        grid-template-columns: auto 600px;
        grid-gap: 20px;
        margin: 0 auto;
    }
    .contactDiv{
        .contactDivText{
            height: 500px;
            background-color: #841b2d;
            margin-bottom: 20px;
            border-radius: 50px;

            p{
                margin: 0;
                padding-left: 20px;
                padding-right: 20px;
                color: white;
                font-family: Arima;
                font-size: 20px;
            }
            .t1{
                font-size: 50px;
            }
        }
    
        .contactDivSocials{
            height: 80px;
            background-color: #a5243a;
            border-radius: 100px;
            display: flex;
            gap: 0px;
            overflow: hidden;

            .socialItem{
                margin: 0 auto;
                width: 100%;
                display: flex;
                text-decoration: none !important;

                background-image: linear-gradient(180deg, #a5243a, #ec3150);
                transition: background-position 0.3s ease, background-size 0.3s ease;
                background-size: 100% 600%;
                background-position: 0 0;
            }
            .socialItem:hover{
                background-position: 0 100%;
                background-size: 100% 100%;
            }
            .centerIt{
                margin: 0 auto;
                display: flex;
            }
            img{
                height: 60%;
                position: relative;
                top: 20%;
                bottom: 20%;
                right: 5px;
            }
            p{
                font-family: Arima;
                color: white;
                font-size: 30px;
                position: relative;
                bottom: 10px;
                left: 5px;
            }
        }
    }
    .mapDiv{
        height: 600px;
        background-color: #a5243a;
        border-radius: 50px;
    
        iframe{
            position: relative;
            top: 5%;
            left: 5%;
            border-radius: 30px;
        }
    }
}

@media (max-width: 1600px) {
    .contactContainerDiv{
        display: grid;
        grid-template-columns: auto 600px;
        grid-gap: 20px;
        margin: 0 auto;
    }
    .contactDiv{
        .contactDivText{
            height: 500px;
            background-color: #841b2d;
            margin-bottom: 20px;
            border-radius: 50px;

            p{
                margin: 0;
                padding-left: 20px;
                padding-right: 20px;
                color: white;
                font-family: Arima;
                font-size: 16px;
            }
            .t1{
                font-size: 40px;
            }
        }
    
        .contactDivSocials{
            height: 80px;
            background-color: #a5243a;
            border-radius: 100px;
            display: flex;
            gap: 0px;
            overflow: hidden;

            .socialItem{
                margin: 0 auto;
                width: 100%;
                display: flex;
                text-decoration: none !important;

                background-image: linear-gradient(180deg, #a5243a, #ec3150);
                transition: background-position 0.3s ease, background-size 0.3s ease;
                background-size: 100% 600%;
                background-position: 0 0;
            }
            .socialItem:hover{
                background-position: 0 100%;
                background-size: 100% 100%;
            }
            .centerIt{
                margin: 0 auto;
                display: flex;
            }
            img{
                height: 60%;
                position: relative;
                top: 20%;
                bottom: 20%;
            }
            p{
                font-family: Arima;
                color: white;
                font-size: 30px;
                position: relative;
                bottom: 10px;
                left: 5px;
                display: none;
            }
        }
    }
    .mapDiv{
        height: 600px;
        background-color: #a5243a;
        border-radius: 50px;
    
        iframe{
            position: relative;
            top: 5%;
            left: 5%;
            border-radius: 30px;
        }
    }
}

@media (max-width: 1300px) {
    .contactContainerDiv{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 20px;
        margin: 0 auto;
    }
    .contactDiv{
        .contactDivText{
            height: auto;
            background-color: #841b2d;
            margin-bottom: 20px;
            border-radius: 50px;

            p{
                margin: 0;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                color: white;
                font-family: Arima;
                font-size: 16px;
            }
            .t1{
                font-size: 40px;
            }
        }
    
        .contactDivSocials{
            height: 80px;
            background-color: #a5243a;
            border-radius: 100px;

            gap: 0px;
            overflow: hidden;

            .socialItem{
                margin: 0 auto;
                width: 100%;
                display: flex;
                text-decoration: none !important;

                background-image: linear-gradient(180deg, #a5243a, #ec3150);
                transition: background-position 0.3s ease, background-size 0.3s ease;
                background-size: 100% 600%;
                background-position: 0 0;
            }
            .socialItem:hover{
                background-position: 0 100%;
                background-size: 100% 100%;
            }
            .centerIt{
                margin: 0 auto !important;
                display: flex !important;
            }
            img{
                height: 60%;
                position: relative;
                top: 20%;
                bottom: 20%;
                right: 35%;
                left: 35%;
                
            }
            p{
                font-family: Arima;
                color: white;
                font-size: 30px;
                position: relative;
                bottom: 10px;
                left: 5px;
                display: none !important;
            }
        }
    }
    .mapDiv{
        height: 600px;
        background-color: #a5243a;
        border-radius: 50px;
    
        iframe{
            position: relative;
            top: 5%;
            left: 5%;
            border-radius: 30px;
        }
    }
}