@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

/*!⬇《《《《《PREMADES》》》》》⬇*/
.pageBreaker{
    padding: 20px;
}
.pageDiv{
    margin: 0 auto;
    width: 80%;
}
.t1{
    font-size: 60px;
    color: white;
    font-family: Arima;
    padding: 0;
    margin: 0;
    text-align: center;
}
.t2{
    font-size: 40px;
    color: white;
    font-family: Arima;
    padding: 0;
    margin: 0;
    text-align: center;
}
@media (max-width: 1000px) {
    .pageDiv{
        width: 95%;
    }
}

/*!⬆《《《《《PREMADES》》》》》⬆*/



/**⬇《《《《《HEADER》》》》》⬇*/
header{
    padding-top: -10px;
    height: 60px;
    width: 100%;
    background-color: #841b2d;
    border-radius: 0px 0px 20px 20px;
}
.navContainer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLogo{
    a{
        font-size: 30px;
        color: white;
        font-family: Arima;
        text-decoration: none;
        margin-left: 10px;
        padding: 0;
        margin: 0;

        display: flex;
        align-items: center;

        p{
            margin: 0;
            padding: 0;
            position: relative;
            top: 20px;
            right: 5px;
        }
        img{
            height: 40px;
            padding: 0;
            margin: 0;
            position: relative;
            top: 10px;
        };
    }
}
.navBasic{ /*?Navigációs Gombok*/
    gap: 15px;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    top: 20px;
    right: -5px;

    button {
        background: none;
        border: none;
        font-size: 20px;
        color: white;
        font-family: Arima;

        background-image: linear-gradient(180deg, #841b2d, #b72740);
        border-radius: 20px;
        padding: 5px 10px;
        transition: background-position 0.3s ease, background-size 0.3s ease;
        background-size: 100% 600%;
        background-position: 0 0;
    }
    button:hover {
        cursor: pointer;
        background-position: 0 100%;
        background-size: 100% 100%;
    }
    a{
        font-size: 20px;
        color: white;
        font-family: Arima;
        text-decoration: none;
    }
}

.navBtn{
    background-image: linear-gradient(180deg, #841b2d, #b72740);
    border-radius: 20px;
    padding: 8px 15px 8px 15px;
    transition: background-position 0.3s ease, background-size 0.3s ease;
    background-size: 100% 600%;
    background-position: 0 0;
}
.navBtn:hover{
    background-position: 0 100%;
    background-size: 100% 100%;
}

/*? Hamburger button */
.navToggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    position: relative;
    top: 15px;
}
/*? Responsive Styles */
@media (max-width: 1000px) {
    .navContainer{
        width: 95%;
    }
    .navLogo img {
        display: none;
    }
    .navBasic {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        background-color: #841b2d;
        border: #b72740 solid 2px;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        border-radius: 20px;
        width: 80%;
        margin: 0 auto;
        right: 10%;
        z-index: 999;

    }
    .navBasic.show {
        display: flex;
    }
    .navToggle {
        display: block;
    }
    .navContainer {
        justify-content: space-between; /* On smaller screens, the toggle button and logo should be spaced */
    }
}

/**⬆《《《《《HEADER》》》》》⬆*/


/*!FOOTER⬇*/
.footerBG {
    width: 100%;
    background-color: #841b2d;
    border-radius: 25px 25px 0px 0px;
    transform: translateY(60px);
}
.footerBG p {
    text-align: center;
    color: white;
    font-size: 20px;
}

/*↑FOOTER↑*/
